$icon_help:'~@/assets/images/icons/icon-help.png';
$icon_search:'~@/assets/images/icons/icon-search.png';
$icon_location:'~@/assets/images/icons/icon-location.png';
$icon_user:'~@/assets/images/icons/icon-user.png';

$icon_router_link_001:'~@/assets/images/icons/icon-router-link-001.png';
$icon_router_link_002:'~@/assets/images/icons/icon-router-link-002.png';
$icon_router_link_003:'~@/assets/images/icons/icon-router-link-003.png';
$icon_router_link_004:'~@/assets/images/icons/icon-router-link-004.png';
$icon_router_link_005:'~@/assets/images/icons/icon-router-link-005.png';

$face_icon:'~@/assets/images/face.png'