@import './sassConfig.scss';
@import './normalize.scss';
@import './ui.scss';
@import './icon.scss';

@mixin webkit($attr, $value) {
    -webkit-#{$attr}: $value;
    -moz-#{$attr}: $value;
    -ms-#{$attr}: $value;
    -o-#{$attr}: $value;
    #{$attr}: $value;
}

@mixin webkit_a($name,$value){
    #{$name}: -webkit-#{$value};
    #{$name}: -moz-#{$value};
    #{$name}: -ms-#{$value};
    #{$name}: -o-#{$value};
    #{$name}: #{$value};
}

body{
    background-color:rgb(207, 222, 235);
}

i[class^=icon]{
    display: inline-block;
    border-radius: 50%;
    background-color: $color_main;
    background-repeat: no-repeat;
}

.icon-w-44{
    width: 44px;
    height: 44px;
    @include webkit(box-shadow, 0 0 18px 0 rgba(0,0,0,.5));

}

.icon-help{
    background-image: url($icon_help);
}

.icon-search{
    background-image: url($icon_search);
}

.icon-location{
    background-image: url($icon_location);
}

.icon-user{
    background-image: url($icon_user);
}

.icno-router-link-001{
    background-image: url($icon_router_link_001);
}

.icno-router-link-002{
    background-image: url($icon_router_link_002);
}

.icno-router-link-003{
    background-image: url($icon_router_link_003);
}

.icno-router-link-004{
    background-image: url($icon_router_link_004);
}

.icno-router-link-005{
    background-image: url($icon_router_link_005);
}

.p-r{ position: relative;}
.p-a{position: absolute;}

.select-car-button {
    display: block;
    width: 180px;
    height: 66px;
    margin: 0 17px;
    border-radius: 100px;
    line-height: 66px;
    text-align: center;
    color: #fff;
    background-color: $color_main;
    font-size: 26px;
    font-weight: 240;
    @include webkit(box-shadow, 0 0 18px 0 rgba(0,0,0,.5));
}

//user
.user-container{
    display: flex;
    flex-direction: column;
}

//user-router-link
.link-groups{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-top: 20px;
    a{
        display: flex;
        align-items: center;
        height: 64px;
        padding: 0 15px;
        line-height: 64px;
        color: rgba(255,255,255,.4);
        border-bottom: 1px solid rgba(255,255,255,.03);
        font-size: 14px;
    }
    .icon{
        width: 30px;
        height: 30px;
        margin: 0 16px -10px;
        @include webkit(transform,translate(0,-20%));
    }
    .arrow::after{
        content: '';
        position: absolute;
        right: 30px;
        width: 10px;
        height: 10px;
        border-top: 1px solid #fff;
        border-right: 1px solid #fff;
        @include webkit(box-sizing, border-box);
        @include webkit(transform, rotate(45deg));
        opacity:.3;
    }
}




.parking-marker{
    background-color: rgb(52, 57, 63);
    color: #fff;
    min-width: 50px;
    height: 50px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include webkit(box-shadow,0px 3px 5px rgba(52,57,63,.9));
    // @include webkit(transform, translate(-20px, -54px));
    &::before{
        content: '';
        width: 10px;
        height: 10px;
        background-color: rgb(52, 57, 63);
        position: relative;
        @include webkit(box-shadow,-3px 3px 10px rgba(52,57,63,.8));
        @include webkit(transform, translate(10px, 22px) rotate(-45deg));
    }
    span{
        font-size:15px;
        @include webkit(transform, translate(-5px));
    }
}