$color_main: #34393f;
$color_blue:#0f9cee;
$icon_help:'~@/assets/images/icons/icon-help.png';
$icon_search:'~@/assets/images/icons/icon-search.png';
$icon_location:'~@/assets/images/icons/icon-location.png';
$icon_user:'~@/assets/images/icons/icon-user.png';

